.App {
  text-align: center;
}

.App textarea {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 8px;
}

#top-text {
  width: 60vw;
  height: 35vh;
}

#bottom-text {
  width: 60vw;
  height: 35vh;
}
